{% from 'bootstrap/form.html' import render_form %}
{% extends 'common/base.html' %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <hr/>
                <div class="text-center">
                    <img width="200" src="https://www.flaticon.es/svg/static/icons/svg/3183/3183991.svg"/>
                </div>
                <h2 class="text-center">N*N queens puzzle</h2>
                <hr/>
                <form method="POST" class="text-center" action="/simulation">
                    {{ form.csrf_token }}
                    <label class="form-control-label" for="n">Choise n value to simulate board and get all
                        solutions (in
                        max 10m)</label>
                    <input class="form-control" name="n" id="n" required type="text">
                    <input name="page" value="1" hidden>
                    <hr/>
                    <button type="submit" class="btn btn-dark" value="Go">
                        Start simulation
                    </button>
                </form>
                <hr/>
                <div class="text-center">
                    <a href="/boards" class="btn btn-dark btn-block">
                        Solved boards
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}