<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="https://image.flaticon.com/icons/svg/862/862737.svg" width="30" height="30" alt="">
    <a class="navbar-brand m-2" href="/">Queens</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    Procesar <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link"
                        href="https://eliasojedamedina.com"
                        target="__blank"
                >
                    Sitio del Desarrollador
                </a>
            </li>
        </ul>
    </div>
</nav>